<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>ArisAlex.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wa-scus-emp-ees-prod-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wa-scus-emp-ees-prod-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wa-scus-emp-ees-prod__DEV</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wa-scus-emp-ees-prod__DEV</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EES_DB_ConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlsvr-scus-emp-ees-prod.database.secure.windows.net,1433;Initial Catalog=sqldb_emp_ees_dev;User ID=sqlsvreesdbadm@sqlsvr-scus-emp-ees-prod;Password=jY#23$bGT;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EES_DB_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlsvr-scus-emp-ees-prod.database.secure.windows.net,1433;Initial Catalog=sqldb_emp_ees_dev;User ID=sqlsvreesdbadm@sqlsvr-scus-emp-ees-prod;Password=jY#23$bGT;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <ADAppIDUri>https://ArisAlex.com/WebApp-wa-scus-emp-ees-prod-dev.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>3dc8aa8e-c600-4161-bf90-894eab7d0fe9</ADClientAPPID>
    <ADClientPassword>1suWedupa4k7qihKPoaKt93zOXAB18pqMCdqAAUSC3w=</ADClientPassword>
    <ADReplyUrl>https://wa-scus-emp-ees-prod-dev.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>5f6ec1be-8ed5-4e70-89aa-e76fae083e4a</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EES_DB_ConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>